version: '2.1.1-{build}'
branches:
  only:
    - master
    - develop
    - /release\/.+/
image: Visual Studio 2017
clone_depth: 1
environment:
  Qt5_DIR: C:\Qt\5.12.2\msvc2017_64\
  VCINSTALLDIR: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\
build_script:
  - ps: scripts\build.ps1
after_build:
  - ps: scripts\package.ps1
artifacts:
  - path: '*.zip'
deploy:
  - provider: GitHub
    release: HaloRay $(appveyor_build_version)
    artifact: /.*\.zip/
    draft: true
    description: ''
    skip_tags: true
    auth_token:
      secure: pb9keaNklmNgmLaw1doReZDdP5Oh/pLZPdwjt+anpcoi34MyqAbFoJbiHJMcWkgD
    on:
      branch: master
